body {
  background-color: #c19a6b;
  font-family: "Titillium Web", sans-serif;
}

#caja {
  position: absolute;
  height: 470px;
  width: 720px;
  margin: 0 auto;
  top: 200px;
  left: 300px;
  background-color: #36454f;
}

a:link {
  color: #c0c0c0;
}

a:visited {
  color: #ffcc33;
}

a:focus {
  color: #ff0000;
}

.img-logo {
  float: right;
  border: none;
}

.img-reverso {
  border: none;
  height: 112px;
}
