body {
  background-color: #c19a6b;
  font-family: 'Titillium Web', sans-serif;
}

#caja {
  position: absolute;
  height: 470px;
  width: 720px;
  margin: 0 auto;
  top: 200px;
  left: 300px;
}

a:link {
  color: #c0c0c0;
}

a:visited {
  color: #ffcc33;
}

a:focus {
  color: #ff0000;
}
